{% extends 'base.html.twig' %}

{% block title %}Marvel réservation{% endblock %}

{% block body %}
    <h1 class="white">Avant premières</h1>

    <section class="black">
        <p>Vous êtes invité.e à venir assister à l'avant première du dernier Marvel.</p>
        <div>
            <h2>100</h2>
            <p>places restantes</p>
        </div>
        <p class="white">Le 25 janvier 2025 au Pathé Chavant</p>
    </section>

    <section class="white">
        <div class="image">
            <img src="{{ asset('img/marvel.jpeg') }}" alt="Affiche film Marvel">
        </div>
        <div class="block">
            <h2>Dernier marvel</h2>
            <p>Réserver dès maintenant !</p>
            {{ form_row(registrationForm.Name, {label: 'Nom'}) }}
            {{ form_row(registrationForm.Surname, {label: 'Prénom'}) }}
            {{ form_row(registrationForm.email, {label: 'Email'}) }}
            {{ form_row(registrationForm.submit) }}
        </div>
    </section>
{% endblock %}